<!doctype html>
<html>
    <body>
        <div>
            <p>Hei.</p>
            <p>Hienoa, yrityksesi tiedot on nyt tarkastettu ja palvelusi on julkaistu!</p>
            <p>Voit täyttää palvelusi esteettömyystiedot alla olevasta linkistä. Täytetyt tiedot tulevat näkyviin automaattisesti palvelun yhteyteen kolmella eri kielellä: suomi, ruotsi ja englanti. Esteettömyystietojen avulla palveluiden käyttäjät voivat tarkistaa mitä tulee huomioida, kun saapuvat paikalle.</p>
            <p>Valitse ”Muokkaa kohteen tietoja”, jonka jälkeen pääset syöttämään esteettömyystiedot kohdasta "Tarkista tai muokkaa esteettömyystietoja".</p>
            <p><a href="{{base_url}}notification/info/{{target_id}}/">{{base_url}}notification/info/{{target_id}}/</a></p>
            <p>
                <div>Ystävällisin terveisin,</div>
                <div>Kaupunki alustana palvelun tiimi</div>
            </p>
        </div>

        <br/>

        <div>
            <p>Hej.</p>
            <p>Bra, dina företagsuppgifter har nu kontrollerats och din tjänst har publicerats!</p>
            <p>Du kan fylla i information om tillgänglighet för din tjänst via länken nedan. De ifyllda uppgifterna visas automatiskt i samband med tjänsten på tre olika språk: finska, svenska och engelska. Med hjälp av tillgänglighetsinformationen kan användarna av tjänsterna kontrollera vad som ska beaktas när de anländer till platsen.</p>
            <p>Välj en punkt ”Redigera information om stället" och sedan kan du ange tillgänglighetsinformation under ”Kontrollera eller redigera tillgänglighetsuppgifterna”.</p>
            <p><a href="{{base_url}}sv/notification/info/{{target_id}}/">{{base_url}}sv/notification/info/{{target_id}}/</a></p>
            <p>
                <div>Med vänliga hälsningar,</div>
                <div>Stadsplattform team</div>
            </p>
        </div>

        <br/>

        <div>
            <p>Hi!</p>
            <p>Great, your company information has now been checked and your services have been published!</p>
            <p>You can fill in the accessibility information for your service from the link below. The filled information will automatically appear in connection with the service in three different languages: Finnish, Swedish and English. With the help of accessibility information, service users can check what needs to be taken into account when they arrive.</p>
            <p>Select "Edit location information", after which you can enter accessibility information under "Review or edit accessibility information".</p>
            <p><a href="{{base_url}}en/notification/info/{{target_id}}/">{{base_url}}en/notification/info/{{target_id}}/</a></p>
            <p>
                <div>Best regards,</div>
                <div>City platform team</div>
            </p>
        </div>
    </body>
</html>
